{% extends "auctions/layout.html" %}

{% block body %}
   
 
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>List Of Bids</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                         
                            <th scope="col">Amount bid</th>
                            <th scope="col">Bid by</th>
                            <th scope="col">Date</th>
                           
                        </tr>
                    </thead>
                    <tbody>

                      
                        {% for bid in bids %}
                        <tr>
                        
                            <td>
                            <div class="media">
                                     
                                <div class="d-flex">
                                    
                                    {% if not bid.auctionbid.item_image_url %}
                                    <img width="150" height="150" style="border-radius:5px;" src="static/img/noimage.png" alt="NO-IMAGE-AVAILABLE">
                                    {% else %}
                                    <img width="150" height="150" style="border-radius:5px;" src="{{MEDIA_URL }}{{bid.auctionbid.item_image_url}}" alt="">
                                  
                                    {% endif %}

                                
                                </div>

                                <div class="media-body">
                                    <p>{{bid.auctionbid.item_name}}</p>
                                    <p>{{bid.auctionbid.item_title}}</p> </br>
                                    <p>{{bid.auctionbid.item_description}}</p>
                                </div>
                            </div>
                        </td>
                        
                       

                        <td>
                            <h5>{{bid.bid_amount}}</h5>
                        </td>
                        <td>
                            <h5>{{bid.userb.username}}</h5>
                        </td>

                        <td>
                            <h5>{{bid.date_created}}</h5>
                        </td>
                      

                       {% empty %}
                        <li>No Records!!!!.</li>
                        {% endfor %}

                       
                        </tr>
                       
                      
                       
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>



{% endblock %}