{% extends "auctions/layout.html" %}

{% block body %}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Auction Details Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">product-details</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    

                    {% if not auction.item_image_url %}
                  

                    <div class="single-prd-item">
                        <img width="555" height="600"  src="static/img/noimage.png" alt="NO-IMAGE-AVAILABLE"/>
                    </div>

                    <div class="single-prd-item">
                        <img width="555" height="600"   src="static/img/noimage.png"  alt="NO-IMAGE-AVAILABLE"/>
                    </div>

                    {% else %}

                    <div class="single-prd-item">
                        <img width="555" height="600" class="img-fluid" src="{{MEDIA_URL }}{{auction.item_image_url}}" alt="">
                    </div>

                    <div class="single-prd-item">
                        <img width="555" height="600" class="img-fluid" src="{{MEDIA_URL }}{{auction.item_image_url}}" alt="">
                    </div>
                  
                    {% endif %}

                   
                   

                    
                </div>

            </div>
            
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>Name : {{auction.item_name}} </h3>
                    <h2>Price (GHS) : {{auction.item_bid_price}}</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Category</span> : {{auction.item_category}}</a></li>


                  {% if userCreatedby != listedby  %}
                        <form action="{% url 'watchlist' auction.id %}" method="post"> 
                            {% csrf_token %}
                           <div class="card_area d-flex align-items-center">
                               <button style="height: 40px;" class="success-btn" type="submit"><small>Add to my watchlist</small> 
                           
                            </button>
                            <b>

                                
                               <li>Total Items In Your Watchlist: {{countUsersWatchList}}</li> 
                                
                            </b>
                             
                           </div>
                       
                       </form>
                    {% endif %}

                    </ul>
                    <p>
                        Item title: <br/>
                        {{auction.item_title}}
                    
                    </p>

                        

                     {% if userCreatedby == listedby  %}

                     


                    <form action="{% url 'closedbid' auction.id %}" method="post"> 
                        {% csrf_token %}
                       <!-- <div class="product_count">
                           <label for="qty">Bid:</label>
                           <input type="number" name="bid_amount" required id="sst" maxlength="12" value="" placeholder="Place bid!" class="input-text">
                           
                       </div> -->
                       <div class="card_area d-flex align-items-center">
                           <button onclick="return(confirm('Are you sure, you want closed bid?\nClick cancel to stop action!'))" class="primary-btn" type="submit">Close Bid</button>
                         
                       </div>
                   
                   </form>

                    {% else %}

                    <form action="{% url 'bid' auction.id %}" method="post"> 
                        
                        {% csrf_token %}
                       <div class="product_count">
                           <label for="qty">Bid:</label>
                           <input type="number" name="bid_amount" required id="sst" maxlength="12" value="" placeholder="Place bid!" class="input-text">
                           
                       </div>
                       <div class="card_area d-flex align-items-center">
                           <button class="primary-btn" type="submit">Place Bid</button>
                         
                       </div>
                   
                   </form>

                    {% endif %}

                    <br/>

                    
                    <div class="box_total">
                        <h5>Overall Bid So Far!!!</h5>
                        <h4>{{count_bidding}}</h4>
                        <h6>
                            {% if user.is_authenticated %}
                             {% if user.userame == current_bidder.username  %}

                             <h6>You are the current bidder!!!</h6>       
                                  
                             {% endif %}     
                             {% endif %}


                        </h6>
                    </div>
                     

                    <br/>  
                  

                    <h4>Auction Item Listed by :  {{listedby}}</h4> 
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="all-bidders" data-toggle="tab" href="#allbidders" role="tab" aria-controls="home" aria-selected="true">All Bids</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                 aria-selected="false">Comments</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                 aria-selected="false">Reviews</a>
            </li> -->
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>
                    
                    {{auction.item_description}}
                
                </p>
                 
            </div>


            <div class="tab-pane fade" id="allbidders" role="tabpanel" aria-labelledby="all-bidders">
               
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Bidder</th>
                                         
                                            <th scope="col">Amount bid</th>
                                           
                                            <th scope="col">Date</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                
                                      
                                        {% for bid in all_bids %}
                                        <tr>
                                        
                                        <td>
                                            <h5>{{bid.userb.username}}</h5> 
                                        </td>
                                        <td>
                                            <h5>{{bid.bid_amount}}</h5>
                                        </td>
                
                                        <td>
                                            <h5>{{bid.date_created}}</h5>
                                        </td>
                                      
                
                                       {% empty %}
                                        <li>No Bids Yet!!!!.</li>
                                        {% endfor %}
                
                                       
                                        </tr>
                                       
                                      
                                       
                                       
                                    </tbody>
                                </table>
                        </div>
                 
            </div>
            
            <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list">

                            {% for c in allComments %}

                            <div class="review_item">
                                <div class="media">
                                    <div class="media-body">
                                        <h4>{{c.userc.username}}</h4>
                                        <h5>{{c.date_created}}</h5>
                                        <small>{{c.title}}</small>
                                        <a class="reply_btn" title="Reply Feature Would Be Enabled Soon!!!!" href="#">Reply</a>
                                    </div>
                                </div>
                                <p>{{c.comments}}</p>
                            </div>

                            {% empty %}
                            <li>No Comments yet!!!!!.</li>

                            {% endfor %}

                            

                            <!-- <div class="review_item reply">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/product/review-2.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                        <a class="reply_btn" href="#">Reply</a>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo</p>
                            </div> -->


                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Post a comment</h4>
                            <form action="{% url 'addcomment' auction.id %}" method="post"> 
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="title" placeholder="Title Of Comment">
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="1" cols="3" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="btn primary-btn">Add Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


<!-- 
            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            <div class="col-6">
                                <div class="box_total">
                                    <h5>Overall</h5>
                                    <h4>4.0</h4>
                                    <h6>(03 Reviews)</h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">
                                    <h3>Based on 3 Reviews</h3>
                                    <ul class="list">
                                        <li><a href="#">5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                        <li><a href="#">4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                        <li><a href="#">3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                        <li><a href="#">2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                        <li><a href="#">1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review_list">
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/product/review-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo</p>
                            </div>
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/product/review-2.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo</p>
                            </div>
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/product/review-3.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Add a Review</h4>
                            <p>Your Rating:</p>
                            <ul class="list">
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <p>Outstanding</p>
                            <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Full name'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="1" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="primary-btn">Submit Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->


        </div>
    </div>
</section>

 
    


    

{% endblock %}